<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jogos Acadêmicos</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/coordenador.css"/>
</head>
<body>
    <header class="header">
        <div class="container" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <h1 style="margin-left: 20px;">Jogos Acadêmicos</h1>

            <ul class="menu" style="margin-right: 20px;">
                <li><a asp-controller="Home" asp-action="Index">Início</a></li>

                @if (User.IsInRole("Coordenador"))
                {
                    <li><a asp-controller="Evento" asp-action="Index">Painel Eventos</a></li>
                    <li><a asp-controller="Acesso" asp-action="GerenciarAtletas">Gerenciar Permissões</a></li>
                }

                @if (User.IsInRole("Arbitro"))
                {
                    <li><a asp-controller="Jogo" asp-action="MinhasPartidas">Área do Árbitro</a></li>
                    <li>
                        <a class="dropdown-item fw-bold" asp-controller="Evento" asp-action="PainelArbitro">🏆 Gestão do Torneio</a>
                    </li>
                }
                @if (User.IsInRole("Tecnico"))
                {
                    <li><a asp-controller="Equipe" asp-action="MinhasEquipes">Gerenciar Equipes</a></li>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <li>Olá, @User.Identity.Name</li>
                    <li><a asp-controller="Acesso" asp-action="Logout" style="color: #ffcccc;">Sair</a></li>
                }
                else
                {
                    <li><a asp-controller="Acesso" asp-action="Login">Entrar</a></li>
                }
            </ul>
        </div>
    </header>

    <div class="container" style="display: block; padding-top: 20px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>