* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

h2 {
    margin: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #6d28d9;
}

#tipo-select option {
    color: #6d28d9;
    opacity: 1;
}

.item {
    display: grid;
    width: 38%;
    height: 55vh;
    padding: 40px;
    border: 1px solid #6d28d9;
    border-radius: 10px;
}

.caixa {
    display: grid;
    gap: 25px;
    wrap: wrap;
}

.um {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.dois {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.butao {
    display: flex;
    justify-content: end;
    align-items: end;
}

select {
    border-radius: 5px;
    padding: 7px;
    border: 2px solid #6d28d9;
}

.t {
    color: fieldtext;
}

input {
    border-radius: 5px;
    border: 2px solid #6d28d9;
    padding: 7px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    justify-content: flex-end;
    border: 1 solid #6d28d9;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    padding: 3px;
    background-color: #6d28d9;
    color: white;
}
