*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
}
.cabecario{
    display: flex;
    padding-left: 10px;
    align-items: center;
    background-color:  oklch(21.573% 0.05026 281.343);
    height: 50px;
}
.container{
    margin: 0px;
    padding-left: 0;
}
h1{
    color: white;
    margin-left: 20px;
}
h2{
    font-size: 1em;
    margin-left: 10px;
    margin-top: 10px;
    color: oklch(27.635% 0.08242 279.563);
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: oklch(27.635% 0.08242 279.563);
    height: 50px;
}
a{
    margin-left: 60px;
    color: white;
    text-decoration: none;

}
.menu{
    display: flex;
}
.menu li{
    flex-direction: column;
    gap: 50px;
}
table{
    width: 45%;
    border-collapse: collapse;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
thead tr {
    background-color: oklch(21.573% 0.05026 281.343);
}
th{
    font-weight: normal;
}
tbody > tr:nth-of-type(even) {
  background-color:  oklch(21.573% 0.05026 281.343);
}

tbody > tr:nth-of-type(odd) {
  background-color: oklch(27.635% 0.08242 279.563);
}
.dois, td{
    text-align: center;
    padding: 3px;
}
.dois{
    width: 50px;
}
.um{
    text-align:start;
}
.item1{
    width: 25px;
}
table tr {
  border-bottom: 1px solid #333; 
  height: 30px;
}



